* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar {
    background: #0A014F;
    padding: 20px 0;
}

.navbar p {
    color: #fff;
}

.navbarmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navmain {
    display: flex;
    gap: 35px;
    align-items: center;
} 

.navmain p {
    font-size: 16px;
}

.contact {
    background: #E8E7F9;
    padding: 16px 51px;
    border-radius: 8px;
    cursor: pointer;
}

.contact p {
    color: #717FFF;
}



.partnersmain {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 50%;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main span {
    color: #717FFF;
}

.main p {
    font-size: 24px;
    width: 100%;
}

.sign {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sign p {
    font-size: 20px;
}

.email {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email input {
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    padding: 10px;
    width: 400px;
}

.send {
    width: 20%;
    position: absolute;
    align-items: center;
    left: 60%;
    background: #717FFF;
    padding: 10px;
    color: #fff;
    border-radius: 0 10px 10px 0;
}

.send p {
    display: flex;
    justify-content: center;
}